@page "/pokemon/{name}"
@inject HttpClient Http

<h1>Pokemon Detail</h1>

@if (Pokemon == null || Pokemon.Name == null)
{
    <div class="spinner-grow"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Pokemon.Name</h1>
                </div>

                <div class="card-body text-center">
                    <img class="responsive" src="@Pokemon.ImageFrontUrl" />
                    <img class="responsive" src="@Pokemon.ImageBackUrl" />

                    <h4>Abilities : @Pokemon.Abilities</h4>
                    <h4>Weight : @Pokemon.Weight</h4>
                </div>
                <div class="card-footer text-center">
                    <a href="/" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
}

@code {

    private string PokemonName { get; set; }

    [Parameter]
    public string Name { get; set; }

    private ModelPokemon Pokemon;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        PokemonName = Name;
    }

    protected override async Task OnInitializedAsync()
    {
        Pokemon = await Http.GetFromJsonAsync<ModelPokemon>($"https://localhost:44389/pokedex/{Name}");

    }

    public class ModelPokemon
    {
        public int Id { get; set; }

        public string Name { get; set; }

        public string Abilities { get; set; }

        public string Weight { get; set; }

        public string ImageFrontUrl { get; set; }

        public string ImageBackUrl { get; set; }
    }
}
